* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

.contact-form {
  margin: 1rem;
  padding: 0.5rem;
  background-color: yellowgreen;
  height: 100vh;
}

.cfhead {
  margin: 1rem;
  padding: 0.5rem;
  text-align: center;
  color: rgb(9, 9, 87);
  background-color: yellowgreen;
}

form {
  text-align: center;
  display: flex;
  position: relative;
  margin: 25px;
  
}
form input {
  height: 40px;
}
